.bt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.empForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}