.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 128, 212);
    height:400px;
    width: 300px;
    border-radius: 30px;
  
    color: rgb(42, 40, 40);
}
button{
    width: 190px;
    height: 30px;
    background-color: rgb(95, 97, 221);
    color: white;
    border: 0px;
    outline: 0;
    border-radius: 5px;
}
input{
    height: 30px;
    width: 190px;
    border-radius: 5px;
    outline: 0px;
    border: 0px;
}
.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}