.parent{
   /* background-color: burlywood; */
   height: 100%;
   width: 30%;
   display: flex;
   align-items: center;
   margin-left: 250px;
   margin-top: 2px;
   padding-left: 30px;
}

input{
    outline: 0;
    border-radius: 3px;
    border: 1px solid red;
    width: 150px;
}
.radio{
   width: 40px;

}
