<div class="parent">
    <h1>BMI Caliculator</h1>
    <label for="">Height</label>
    <input type="number" id="height"><br>
    <label for="">weight</label>
    <input type="number" id="weight">
    <h2 id="bmi">Bmi displays here</h2>
    <button onclick="submit()">Submit</button>
</div>
<script>
    function submit(){
        var height=document.getElementById("height").value;
        console.log(height);
        var weight=document.getElementById("weight").value;
        console.log(weight);

        var result=weight/(height*height);
        console.log(result);

        if(result<18.5 && result>0){
            var bmi="underweight";
        }else  if(result>18.5 && result<30){
            var bmi="Normal";
        }else  if(result>18.5 && result<30){
            var bmi="Normal";
        }else  if(result>30 && result<35){
            var bmi="obese"
        }else  if(result>=35 && result<40){
            var bmi="severely obese"
        }else  if(result>=40){
            var bmi="Moribidly obese"
        }else{
            alert("Error");
        }
        document.getElementById('bmi').innerText=bmi;
    }
</script>
