<div class="function">
<input placeholder="Search Student" type="text" [(ngModel)]="term" (keyup)="filter()" >

<label for="">Sort:</label>
<select [(ngModel)]="column">
    <option >name</option>
    <option >city</option>
    <option >phone</option>
    <option >dob</option>
    <option >email</option>
    <option >school_name</option>
    <option >school_city</option>
</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button class="btn btn-primary" (click)="sort()">sort</button>

<select [(ngModel)]="limit">
    <option >10</option>
    <option >20</option>
    <option >30</option>
</select>

<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
</select>
<button class="btn btn-primary" (click)="pagenation()">pagination</button>
<button class="btn btn-primary" routerLink="/dashboard/createstudent">Create</button>
</div>


<div class="parent">
  
    <div *ngFor="let student of students" class="card">
        <div class="head">
            <img class="img" height="50px"  src="{{student.school_logo}}" alt="">
            <h6>{{student.school_name}}</h6>
        </div>
        <div class="content">
            <div class="details">          
                <span>Name: {{student.name}}</span><br>
                <span>phone:{{student.phone}}</span><br>
                <span>DOB:{{student.dob}}</span><br>
                <span>Email:{{student.email}}</span><br>
                <span>City:{{student.city}}</span>
            </div> 
            <div class="profile">
                <img height="110px" width="110px" src="{{student.profile_picture}}" alt="">
            </div>
           </div>
           <div class="footer">
            <div class="f1">
                <span>shoolCity: {{student.school_city}}</span>
                <span>shoolPin: {{student.school_pin}}</span>
            </div>
            <div class="f2">
                <button class="btn btn-warning">Veiw</button>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
            </div>
           </div>

    </div>
</div>
