<div class="parent">
    <div class="main">
      <h1>Caliculator</h1>
      <label for="">Enter the Number</label>
      <input type="number " [(ngModel)]="number1" /><br />
      <label for="">Enter the Number</label>
      <input type="number" [(ngModel)]="number2" />
      <h2 >{{result}}</h2>
      <button [disabled]="!number1||!number2"  (click)="sum()">Addition</button><br>
      <button [disabled]="!number1||!number2"   (click)="multiplication()">Multiplication</button><br>
      <button [disabled]="!number1||!number2"  (click)="Substraction()">Substraction</button><br>
      <button [disabled]="!number1||!number2"  (click)="division()">Division</button><br>
    </div>
  </div>

 
