.parent {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0px;
  box-sizing: border-box;
}
.left {
  height: 100%;
  width: 20%;
  background-color: rgb(37, 35, 59);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
  height: 80%;
  width: 100%;
}
.tittle {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}
button {
  height: 40%;
  width: 50%;
  background-color: brown;
  border: 0px;
  outline: 0;
  color: white;
}
.right {
  height: 99.9%;
  width:75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  overflow: auto;
}
