<div class="parent">
    <div class="left">
        <div class="tittle">
            My Website
        </div>
        <div class="components">
            <h5 routerLink="home">Home</h5>
            <h5 routerLink="welcome">Welcome</h5>
            <h5 routerLink="data-binding">Data Binding</h5>
            <h5 routerLink="caliculator">Caliculator</h5>
            <h5 routerLink="rectangle">Rectangle</h5>
            <h5 routerLink="circle">Circle</h5>
            <h5 routerLink="bmi">BMI</h5>
            <h5 routerLink="directives">Directives</h5>
            <h5 routerLink="pipes">Pipes</h5>
            <h5 routerLink="employee">employee</h5>
            <h5 routerLink="flipkart">Flipkart</h5>
            <h5 routerLink="vehicle">vehicle</h5>
            <h5 routerLink="flipkartapi">Flipkart-Api</h5>
            <h5 routerLink="mail">Mail-API</h5>
            <h5 routerLink="Pintrust-Api">Pintrust-Api</h5>
            <h5 routerLink="weather-Api">Weather-Api</h5>
            <h5 routerLink="Blog-Api">Blog-Api</h5>
            <h5 routerLink="imdb">IMDB</h5>

        </div>
        <div class="logout">
            <Button routerLink="">Logout</Button>
        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
