<div class="parent">
    <div class="left">
        <div class="tittle">
            My Website
        </div>
        <div class="components">
            <h3 routerLink="/home">Home</h3>
            <h3 routerLink="/welcome">Welcome</h3>
            <h3 routerLink="/DataBinding">Data Binding</h3>
            <h3 routerLink="caliculator">Caliculator</h3>
            <h3 routerLink="rectangle">Rectangle</h3>
            <h3 routerLink="circle">Circle</h3>
            <h3 routerLink="bmi">BMI</h3>
        </div>
        <div class="logout">
            <Button>Logout</Button>
        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
