<div class="parent">
    <div class="left">
        <div class="tittle">
            My Website
        </div>
        <div class="components">
            <h4 routerLink="home">Home</h4>
            <h4 routerLink="welcome">Welcome</h4>
            <h4 routerLink="data-binding">Data Binding</h4>
            <h4 routerLink="caliculator">Caliculator</h4>
            <h4 routerLink="rectangle">Rectangle</h4>
            <h4 routerLink="circle">Circle</h4>
            <h4 routerLink="bmi">BMI</h4>
            <h4 routerLink="directives">Directives</h4>
            <h4 routerLink="pipes">Pipes</h4>
        </div>
        <div class="logout">
            <Button routerLink="">Logout</Button>
        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
